body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-fluid{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(122, 66, 66, 0.534);
}


.content{
    margin-top: 50px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 84px;
    text-align: center;
}

.content h1{
    font-family: Pacifico;
    color: white;
}

.content h2{
    color: #FCB371;
}

.back{
    margin: 30px;
    float: left;
    background: rgba(0, 0, 0, 0);
}

.p{
    margin-top: 60px;
    margin-left: 25%;
    width: 50%;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;

}

.form{
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
}
